<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="leo.yahoonewsrssjavasample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YahooNewsRssJavaSample">
        <receiver android:name=".YahooNewsWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/yahoo_news_widget_info" />
        </receiver>

        <service
            android:name=".MyRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>